# Build target
/**/cmake-build-*/
/**/build*/
/**/out/
/**/bin/

# Rust
/**/target/
backend/rust/*/include/*.h

# Vcpkg
vcpkg_root/
vcpkg_installed/
.vcpkg-root

# IDEs
.agents/
.idea/
.vscode/
.vs/
.gradle/
.act/
.claude/
.DS_Store

# Misc
local.properties
java_pid*.hprof
*.pdb
*.user
*.user.*
*.sln
*.vcxproj
*.filters
*.dir/
*.log
*.bak
*.tmp

# Libraries & Binaries
*.a
*.dylib
*.so
*.dll

# Flutter / Dart
/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# macOS / iOS build
Pods/
.symlinks/